<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>BooleanCalendarHomePage</title>
    <link rel="stylesheet" href="../static/IndexStyle.css">
</head>
<style>
    body {
        background-image: url('../Images/LoginBackgroundImage.jpg');
    }
</style>
<body>
<div class="banner">
    <div class="navbar">
        <img src="../Images/BLogo.png" class="Logo">
        <ul>
            <li><a href="">Register</a></li>
            <li><a href="">LogIn</a></li>
            <li><a href="">Calendar</a></li>
            <li><a href="">Meet the Team</a></li>
            <li><a href="">Mini Labs</a></li>
        </ul>
    </div>

    <div class="content">
        <h1>WELCOME TO BOOLEANS HEADQUARTERS!</h1>
        <P>ON THIS WEBSITE, YOU WILL BE ABLE TO ACCESS OUR CALENDAR APPLICATION, VIEW OUR MINI LABS, GET TO KNOW THE TEAM BEHIND THE WIZARDRY, & MORE!</P>
        <div>
            <button onclick="window.location.href=''"><span></span>TBD</button>
            <button onclick="window.location.href=''"><span></span>TBD</button>
        </div>
    </div>

</div>
</body>
</html>