<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        p {text-align: center;}
        form {text-align: center;}

    </style>
</head>
<body bgcolor="#00FFFF">
<form id="linkedList" action="/labs/Neil/LinkedList" method="POST">

    <h2><p th:text="'Head of list: ' + ${linkedlist1}"/></h2>
    <h2><p th:text="'Second element of list: ' + ${linkedlist2}"/></h2>
    <h2><p th:text="'Tail of list: ' + ${linkedlist3}"/></h2>
    <h2><p th:text="'Full linked list: ' + ${linkedlist4}"/></h2>
    <input name="add" id="add" >
    <button>Add to head</button>

<form>

</body>
</html>
